@use 'variables';

// 웹사이트 기본 초기화 및 여백 설정
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

// 레이아웃 전체 틀
.default-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // 페이지 내용이 들어갈 기본 컨테이너 박스
  .container {
    padding: 2rem;
    flex: 1;
  }
}

/* === 글로벌 네비게이션 바 (GNB) 스타일 === */
nav {
  padding: 1rem;
  background-color: variables.$Gray50;
  border-bottom: 1px solid variables.$Gray200;

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    .login-menu {
      margin-left: auto;
    }
  }

  a, button {
    font-size: 16px;
    text-decoration: none;
    color: variables.$Gray500;
    font-weight: 500;
    transition: all 0.2s ease;

    &:hover {
      color: variables.$Main400;
    }

    /* 현재 활성화된 페이지의 링크 */
    &.router-link-active {
      color: variables.$Main400;
      font-weight: 700;
    }
  }
}

/* === 글로벌 로딩 컴포넌트 스타일 ===*/
.common-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .loading-text {
    color: #999;
    font-size: 0.95rem;
  }
}
/* === 글로벌 데이터없음 컴포넌트 스타일 ===*/
.common-no-data {
  text-align: center;
  padding: 3rem 0;

  .message-text {
    color: #9098A1;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .back-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #527AA4;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #355A82;
    }
  }
}
